# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/settings.json

# Build and logs
build/
dist/
*.log
